.main {
    padding: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    justify-self: center;
    background-color: white;

}
.info-card {
    padding: 16px;
}